.logoContainer {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.animatedContainer {
  position: relative;
  width: 280px;
  height: 110px;
  margin: 0 auto;
  cursor: pointer;
}

.letterContainer {
  position: relative;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 50%;
  top: 0;
  margin-left: -55px;
}

.letterImage {
  width: 100%;
  height: 100%;
}

.oLetter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .logoContainer {
    width: 60px;
    height: 60px;
  }

  .animatedContainer {
    width: 165px;
    height: 60px;
  }

  .letterContainer {
    height: 60px;
  }

  .letter {
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }

  .tLetter {
    width: 100%;
    height: 100%;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  .oLetter {
    width: 100%;
    height: 100%;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .logoContainer {
    width: 48px;
    height: 48px;
  }

  .animatedContainer {
    width: 130px;
    height: 48px;
  }

  .letterContainer {
    height: 48px;
  }

  .letter {
    width: 48px;
    height: 48px;
    margin-left: -24px;
  }

  .tLetter {
    width: 100%;
    height: 100%;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  .oLetter {
    width: 100%;
    height: 100%;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
} 